body{
    background: #006d77;
    font-family: "Proxima Nova", sans-serif;
    font-size: 10pt;
    color: #ffffff;
    letter-spacing: 0.05em;
}

#workspaceBackground{
    width: 250px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #E29578;
}

.workspace{
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.panel{
    width: 100%;
    margin-top: 20px;
    left: 50%;
}

.panel:first-child{
    margin-top: 0px;
}

td{
    padding-top: 10px;
    padding-right: 10px;
}

td:last-child{
    padding-right: 0px;
}

.btn{
    width: 50px;
    height: 50px;
    background: #FFDDD2;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: none;
    border: 0;
    outline: none;
    font-family: "Proxima Nova", sans-serif;
    font-size: 8pt;
    letter-spacing: 0.05em;
    opacity: 0.6;
    transform: scale(1);
    transition: transform 0.2s;
    cursor: pointer;
}

.btn:hover{
    opacity: 1;
    transform: scale(0.9);
}

.valueFields{
    line-height: 20px;
    padding: 0;
    border: 0;
    outline: none;
    text-align: center;
    display: inline-block;
    background: #9AC3C6;
    -webkit-appearance: none;
    opacity: 0.75;
    border-radius: 3px;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.valueFields:hover{
    opacity: 1;
}

#thicknessBar{
    -webkit-appearance: none;
    width: 30%;
    height: 20px;
    padding: 0;
    border: 0;
    outline: none;
    background: #9AC3C6;
    opacity: 0.75;
    border-radius: 3px;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

#thicknessBar:hover{
    opacity: 1;
}

#thicknessBar::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 20px;
    border-radius: 3px;
    background: #006d77;
    cursor: pointer;
}

#fontList{
    width: 50%;
    height: 20px;
    padding: 0;
    border: 0;
    border-radius: 3px;
    outline: none;
    text-align-last: center;
    background: #9AC3C6;
    -webkit-appearance: none;
    opacity: 0.75;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

#fontList:hover{
    opacity: 1;
}

#colorPicker{
    width: 77.5%;
    height: 25px;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}

#canvas{
    margin-left: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    
}

#uploadedImg{
    margin-left: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
